article {
  display: flex;
}

img {
  width: 30%;
  height: 30%;
}

#txt {
  border-radius: 5px;
  border-color: blue;
}

button {
  background-color: rgba(82, 142, 63, 0.743);
  border: none;
  border-radius: 5px;
  width: 10%;
  color: aliceblue;
  justify-content: center;
}
.ttl {
  margin-top: 30px;
}
.sale {
  margin-top: 30px;
  width: 20%;
  height: 40px;
}
